.content-wrapper-left {
    width: 60%;
}

.content-label {
    font-size: 87px;
    font-weight: bold;
    padding: 20px 0 30px;
}

.content-decs {
    display: block;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;
}

.content-searchbar {
    max-width: 350px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #000;
    box-shadow: 2px 3px rgba(0, 0, 0, 1);
}

.content-search {
    width: 100%;
    outline: none;
    border: none;
    height: 100%;
    margin: auto 0;
}
