.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-item-rate {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-item-label {
    font-size: 25px;
    font-weight: 500;
}
