.heading-wrapper-left {
    width: 60%;
    display: flex;
}

.logo {
    width: 200px;
}

.courses {
    position: relative;
    margin: 0 60px;
    display: flex;
    align-items: center;
}

.courses:hover .courses-menu {
    animation: growDown 0.5s ease-in-out;
    transform-origin: top;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.courses-menu-label {
    display: block;
    font-size: 20px;
    cursor: pointer;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.courses-menu-icon {
    font-size: 20px;
    padding: 0 5px;
}

.courses:hover .courses-menu-icon {
    animation: rotate 0.5s ease forwards;
    
}

.courses-menu {
    background-color: #fff;
    position: absolute;
    top: 100%;
    border-radius: 5px;
    display: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)
}

.courses:hover .courses-menu {
    display: block;
}

.courses-item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 40px;
}

.courses-item-link {
    display: block;
    width: 120px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 5px;
    text-align: center;
}

.courses-item:nth-child(2) {
    border-top: 2px solid #f9f9f9;
    border-bottom: 2px solid #f9f9f9;
}

.courses-item:nth-child(3) {
    border-bottom: 2px solid #f9f9f9;
}

.searchbar {
    min-width: 425px;
    display: flex;
    align-items: center;
    background-color: #FAD0CC;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #000;
}

.searchbar-icon {
    font-size: 20px;
    padding: 5px;
}

.heading-search {
    width: 100%;
    outline: none;
    border: none;
    background-color: #FAD0CC;
    height: 100%;
    margin: auto 0;
}

::placeholder {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}