@import "./heading-wrapper-left.css";
@import "./heading-wrapper-right.css";
@import "./content-wrapper-left.css";
@import "./content-wrapper-right.css";
@import "./f"

.heading {
    display: flex;
    justify-content: space-between;
    background-color: #FAD0CC;
    padding: 30px 40px;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 400px;
    background-color: #FAD0CC;    
    padding: 30px 40px;
}