@import "./heading-wrapper-left.css";
@import "./heading-wrapper-right.css";

.heading {
    display: flex;
    justify-content: space-between;
    background-color: #FAD0CC;
    padding: 30px 40px;
}

.content {
    background-color: #FAD0CC;    
    padding: 30px 40px;
    background: url("../img/eat-sleep-study-repeat.webp");
}