.heading {
    display: flex;
    background-color: #FAD0CC;
    padding: 30px 40px;
}

.logo {
    width: 200px;
}

"courses
<span class="courses-menu-label">Courses</span>
courses-menu-icon
courses-menu
courses-item
courses-item-link

.content {
    background-color: #FAD0CC;    
}